
<%= form_tag cars_path, method: :get do |f| %>
  <div>
    <%= label_tag "Model" %>
    <%= text_field_tag :name, params[:name] %>
  </div>
  <div>
    <%= label_tag "Category" %>
    <%= select_tag :category, options_for_select(Car::CATEGORY.dup << "") %>
  </div>
  <div>
    <%= label_tag "Transmission" %>
    <%= select_tag :transmision, options_for_select(Car::TRANSMISION.dup << "") %>
  </div>
  <div>
    <%= label_tag "Fuel Type" %>
    <%= select_tag :energy, options_for_select(Car::ENERGY.dup << "")  %>
  </div>
  <div>
    <%= label_tag "City" %>
    <%= text_field_tag :city, params[:city] %>
  </div>
  <div>
    <%= label_tag "Max. price" %>
    <%= range_field_tag :max_price, params[:max_price] %>
  </div>
  <%= submit_tag "Search", name: nil %>
<% end %>
