<h2>My Cars Pending</h2>
<%# <%= "CarPhoto - CarName - can be bookign by User.name Valider ou pas" %>
<% current_user.cars.each do |car|
  car.bookings.each do |booking| %>
    <ul>
      <li>
        <% car_id = booking.car_id %>
        <% car = Car.find(car_id) %>
        <% user = User.find(booking.user_id) %>
        <%= link_to car.name, car_path(car) %>
        By : <%= user.email %>
        Start : <%= booking.start_at %>,
        End : <%= booking.end_at %>,
        Price : <%= booking.total_price %>€
        <%= link_to "Delete Booking",
                    booking_path(booking),
                    method: :delete,
                    class: "btn btn-danger",
                    data: { confirm: "Are you sure?" } %>
        <%= link_to 'accepte', accept_booking_path(booking),method: :patch %>
        <%= link_to 'decline', decline_booking_path(booking),method: :patch %>
      </li>
    </ul>
  <% end %>
<% end %>
<h2>My Bookings</h2>
<%= 'all bookings of the users' %>
<% @bookings.each do |booking| %>
<ul>
  <li>
    <% car_id = booking.car_id %>
    <% car = Car.find(car_id) %>
    <%= link_to car.name, car_path(car) %>
    Start : <%= booking.start_at %>,
    End : <%= booking.end_at %>,
    Price : <%= booking.total_price %>€
    <%= link_to "Delete Booking",
                booking_path(booking),
                method: :delete,
                class: "btn btn-danger",
                data: { confirm: "Are you sure?" } %>
    <%= "Pending...." if booking.status == nil %>
    <%= "accepted" if booking.status == true %>
    <%= "declined" if booking.status == false %>

  </li>
</ul>
<% end %>

<%= console %>
