<%= simple_form_for(car) do |f| %>
<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :horse_power %>
  <%= f.input :price_per_day %>
  <%= f.input :transmision %>
  <%= f.input :energy %>
  <%= f.input :year_circulation %>
  <%= f.input :city %>
  <%= f.input :photo, as: :file %>
  </div>
  <%= f.submit "Submit", class: "btn btn-default btn-primary m-3" %>
<% end %>
