<% if @current_user %>
  <%= link_to 'My cars', cars_mine_path(@current_user), class:"btn btn-primary mt-3" %>
  <%= link_to 'My dashboard', dashboard_path, class:"btn btn-primary mt-3" %>
<% elsif current_user %>
  <%= link_to 'My cars', cars_mine_path(current_user), class:"btn btn-primary mt-3" %>
  <%= link_to 'My dashboard', dashboard_path, class:"btn btn-primary mt-3" %>
<% end %>

<%= render 'shared/searchbar' %>
<%= render 'shared/warriorsearchbar' %>

<div class="card-grid mb-5">
  <% @cars.each do |car|%>
      <div class="card rounded" style="background-image: url(<%= "#{cl_image_path car.photo.key}" =%> )">
        <div class="card-body">
          <h5 class="card-title">
            <%= car.name %>
          </h5>
          <p class="card-text"> <%= car.category %> - <%= car.transmision %> -  <%= car.price_per_day %>€ </p>
          <%= link_to 'Go!', car_path(car), class:"btn btn-primary" %>
        </div>
      </div>
  <% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= link_to "Add a car", new_car_path, class: "btn btn-primary" %>
<%= link_to "Back home", root_path, class: "btn btn-secondary" %>
