<div class="container">

  <div class="container-group d-flex mt-3">
    <ul class="list-group list-group-flush mt-0 mr-3 ml-3 mb-3">
      <li class="list-group-item"> <strong><u>Name:</u></strong> <%= @car.name %> </li>
      <li class="list-group-item"> <strong><u>Category:</u></strong> <%= @car.category %> </li>
      <li class="list-group-item"> <strong><u>Horse Power:</u></strong> <%= @car.horse_power %> hp</li>
      <li class="list-group-item"> <strong><u>Price per Day:</u></strong> <%= @car.price_per_day %> € </li>
      <li class="list-group-item"> <strong><u>Transmission:</u></strong> <%= @car.transmision %> </li>
      <li class="list-group-item"> <strong><u>Energy:</u></strong> <%= @car.energy %> </li>
      <li class="list-group-item"> <strong><u>Year:</u></strong> <%= @car.year_circulation %> </li>
      <li class="list-group-item"> <strong><u>City:</u></strong> <%= @car.city %> </li>
      <%= link_to "Reserver!", new_booking_path(@car), class: "btn btn-danger"%>
    </ul>
    <%= cl_image_tag @car.photo.key, height: 600, width: 800, crop: :fill, class:"rounded" %>
  </div>

  <div class="group-btn text-center m-4">
    <%= link_to 'Back to list', cars_path, class: "btn btn-secondary" %>
    <% if policy(@car).update? %>
    <%= link_to 'Edit car', edit_car_path, class: "btn btn-primary"%>
    <% end %>
    <% if policy(@car).destroy? %>
    <%= link_to "Delete car",
                car_path(@car),
                method: :delete,
                class: "btn btn-danger",
                data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
