<h1>Car show</h1>

<ul>
  <li> Name: <%= @car.name %> </li>
  <li> Category: <%= @car.category %> </li>
  <li> Horse Power: <%= @car.horse_power %> </li>
  <li> Price per Day: <%= @car.price_per_day %> </li>
  <li> Transmission: <%= @car.transmision %> </li>
  <li> Energy: <%= @car.energy %> </li>
  <li> Year of Circulation: <%= @car.year_circulation %> </li>
  <li> City: <%= @car.city %> </li>
  <li> User ID: <%= @car.user_id %> </li>
  <li> Created at: <%= @car.created_at %> </li>
  <li> Updated at: <%= @car.updated_at %> </li>
</ul>

<%= link_to 'Back to list', cars_path, class: "btn btn-light" %>

<% if policy(@car).update? %>
<%= link_to 'Edit car', edit_car_path, class: "btn btn-primary"%>
<% end %>
<% if policy(@car).destroy? %>
<%= link_to "Delete car",
            car_path(@car),
            method: :delete,
            class: "btn btn-danger",
            data: { confirm: "Are you sure?" } %>
<% end %>
